
app/build/

server/node_modules/

server/.env

app/.dart_tool/

.vscode/

server/app.log

server_profile_image/

server_user_audios/

server_user_images/

app/.flutter-plugins-dependencies

app/.flutter-plugins

layers/

server/.serverless/

aws/.terraform/

*.zip
